{% extends 'base.html' %}


{% block body %}

<div class"vh-100 container">


<div class="my-5 alert alert-success" role="alert">
  <h4 class="alert-heading">Welcome✨</h4>
  <p>
Have a question or need assistance? Send us an email at 
<b><email><i class="fa fa-envelope" aria-hidden="true"></i> fapegram@proton.me</email>  </b>. We're here to help and will respond to your inquiries as quickly as possible.

</p>
  <hr>
  <p class="mb-0">Thank you for getting in touch!</p>
</div>


</div>


{% endblock %}
