{% extends 'base.html' %}



{% block body %}


<div class="row">


  {% for i in pro  %}
<div class="col-12 col-md-6">
<div class="my-3">
  <img class="rounded img-fluid thmb" src="{{i.get_img.url}}" alt="">
  <br>
  
  <div class="my-2 img-info">
    <div class="d-flex">
    <img class="img-thumbnail img-fluid avatar" {% if i.dp %}  src="{{i.dp.url}}" {% else %} src="https://api.dicebear.com/7.x/adventurer/svg?seed=Tinkerbell" {% endif %}alt="">
    <div>
      <a href="/profile/{{i.user.username}}"> <p class="mt-1 mb-0 text-dark">{{i.name}}</p> </a>
      <p class="mt-0 text-primary">99+ Photos</p>
    </div>
    </div>

  </div>

  </div>
</div>
{% endfor %}




</div>
{% endblock %}
