{% extends 'base.html' %}



{% block body %}


<div class="row">

<div class="col-12 col-md-6">
<div class="my-3">
  <img class="rounded img-fluid thmb" src="https://fapello.com/content/v/l/vlad-o-chka/1000/vlad-o-chka_0804.jpg" alt="">
  <br>
  
  <div class="my-2 img-info">
    <div class="d-flex">
    <img style="background: #9DB2BF;" class="img-thumbnail img-fluid avatar" src="https://fapeza.com/media/m/i/mia-healey/1000/mia-healey_0001.jpg" alt="">
    <div>
      <p class="mt-1 mb-0 text-dark">Bebe Rexa</p>
      <p class="mt-0 text-primary">99+ Photos</p>
    </div>
    </div>

  </div>

  </div>
</div>




</div>
{% endblock %}
