{% extends "base.html" %}


{% block body %}


    <div class="text-center card-body content">
    <div class="brdr">
        <img class=" dp" {% if prof.dp %}  src="{{prof.dp.url}}" {% else %} src="https://robohash.org/{{prof.user.username}}.png" {% endif %}alt="">
     </div>
<div class="my-auto ms-2">
        <h2 class="my-2 username text-dark">{{prof.user.username}}</h2>
      <p class="text-muted alname">{{prof.bio}}</p>
  

<a href=""> <span class="badge btnsex">OnlyFans</span></a>
<a href=""> <span class="badge btnwarn">Instagram</span></a>
<a href=""> <span class="badge btndngr">Twitter</span></a>

<br>
<div class="my-3 d-flex justify-content-center">

<p class="text-muted">{{prof.img_count}}<br> <b>Items</b></p>
<p class="mx-5 divider text-muted"></p>
<p class="text-muted">{{prof.total_likes}}<br><b> Likes</b></p>

</div>
       
    </div>
</div>


<div class="my-5 container">

<div class="gallery text-center row">

{% for art in arts %}
<div class="col-6 col-md-4 p-1">
<a href="/{{art.prof.user.username}}/{{art.id}}">
<img class="gim img-fluid" src="{{art.image.url}}"/>
</a>
</div>
{% endfor %}



</div>

</div>
{% endblock %}
