{% extends "base.html" %}


{% block body %}


    <div class="text-center card-body content">
    <div class="brdr">
        <img class=" dp" src="https://assets-global.website-files.com/61cb87c118979013b4f7938b/61cb87c118979000b0f794d1_mike-shinoda.jpeg" alt="Your Image">
     </div>
<div class="my-auto ms-2">
        <h2 class="my-2 username text-dark">mike_shinoda</h2>
      <p class="text-muted alname">m_shi, p.jaj</p>
  

<span class="badge btnsex">OnlyFans</span>
<span class="badge btnprimary">Instagram</span>
<span class="badge btninfo">Twitter</span>

<br>
<div class="my-3 d-flex justify-content-center">

<p class="text-muted">60<br> <b>Items</b></p>
<p class="mx-5 divider text-muted"></p>
<p class="text-muted">10<br><b> Likes</b></p>

</div>
       
    </div>
</div>


<div class="my-5 container">

<div class="gallery text-center row">


<div class="col-6 col-md-4 p-1">
<img class="gim img-fluid" src="https://fapoleaks.com/images/j/u/juicyjade9-nude/1/photo/juicyjade9-nude_0066.jpeg"/>
</div>



<div class="col-6 p-1 col-md-4">
<img class="gim" src="https://fapoleaks.com/images/j/u/juicyjade9-nude/1/photo/juicyjade9-nude_0066.jpeg"/>
</div>



</div>

</div>
{% endblock %}
