{% extends 'base.html' %}


{% block desc %}The best social network with a lot of leaked girls from Onlyfans, Patreon and other nude content platforms.{% endblock %}
{% block car %}https://fapegram.com/random/{% endblock %}
{% block title %}{{q}} Search Results - Fapegram{% endblock %}

{% block body %}

<div class="text-center container">
 <h1 class="display-6 text-dark"> Search Result For <span class="text-info"> "{{q}}" </span> </h1>
<div class="row">
{% for p in prof %}
<div class="mt-2 col-12 col-md-6">
<div class="p-3 card-body bg-white img-thumbnail">

{% if p.dp %}<a href="/model/{{p.user}}">
<img class="img-fluid rounded-circle w-50" src={{p.dp.url}}/></a>
{% else %} <a href="/model/{{p.user}}">
<img class="img-fluid rounded-circle w-50" src="https://api.dicebear.com/7.x/initials/svg?seed={{p.name}}"/></a>
{% endif %}
</br>
<a href="/model/{{p.user}}">
<name class="my-3 text-muted">{{p.name}}</name></a>
<div class="my-3 d-flex justify-content-center">

<p class="text-muted">{{p.img_count}}<br> <b>Photos</b></p>
<p class="mx-5 divider text-muted"></p>
<p class="text-muted">{{p.total_likes}}<br><b> Likes</b></p>

</div>
<a href="/model/{{p.user}}" class="my-2 btn btn-dark w-100">See Profile</a>
{% if user.is_authenticated and user.is_staff %}
<a href="/model/upload/{{p.user}}" class="my-2 btn btn-success w-100">Upload</a>
{% endif %}
</div>
</div>
{% endfor %}


</div>

</div>



<center> {% if prof.has_previous %}
<a href="?q={{q}}&page={{prof.previous_page_number}}"
class="my-3 btn btn-sm btn-primary"> Previous </a>
{% endif %}
{% if prof.has_next %}
<a href="?q={{q}}&page={{prof.next_page_number}}"
class="my-3 btn btn-sm btn-primary"> Next </a>
{% endif %} </center>



{% endblock %}


