{% extends 'base.html' %}

{% block desc %}The best social network with a lot of leaked girls from Onlyfans, Patreon and other nude content platforms.{% endblock %}
{% block car %}https://fapegram.com/search/{% endblock %}
{% block title %}Fapegram — Search you favourite model!{% endblock %}


{% block body %}


<div class="vh-100 container">
<h1 class="text-secondary dis-6">Search on Fapegram</h1>
<form method="get" action="{% url 'search' %}">
<input name="q" class="border-0 form-control p-2"  placeholder="Type something..."/>
<button type="submit" class="my-2 btn w-100 btn-dark">Search</button>
</form>
</div>

{% endblock %}
