{% extends 'base.html' %}


{% block body %}


<div class="container mt-5">
    <h2>Upload image</h2>
    <form action="{% url 'upload' u %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-group">
        <label for="images">Select Images:</label>
        <input type="hidden" name="usr" value="{{u}}">
        <input type="file" class="form-control-file" id="images" name="img" multiple accept="image/*">
      </div>
      <button type="submit" class="btn btn-primary">Upload Images</button>
    </form>
  </div>

{% endblock %}
