{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row my-5">


    <div class="my-1 col-12 col-md-8">

  <div class="">
    
    
    <div class="post-card">
      <a href="{{art.image.url}}">
      <img src="{{art.image.url}}" class="post-image" alt="Post Image">
      </a>
      <div class="user-info d-flex align-items-center">
        <div>
        <img class="my-auto avatar" {% if art.prof.dp %} src="{{art.prof.dp.url}}" {% else %} src="https://api.dicebear.com/7.x/initials/svg?seed={{art.prof}}" {% endif %} class="user-avatar" alt="User Avatar">
        </div>
        <div>
          <div class=""> <a href="/model/{{art.prof.user}}"><p class="mx-1 mt-3"> {{art.prof.user.username}}</p></a>
          </div>
         
        </div>
        
<div class="ms-auto"><form action="{% url 'like' %}"  method="post">
{% csrf_token %}
<input type="hidden" name="usr" value="{{art.prof.user.username}}"/>
<input type="hidden" name="pid" value="{{art.id}}"/>
<button type="submit" class="btn btn-danger btn-sm">
<i class="fa-regular fa-heart"></i></button>
</form> </div>



      </div>
      <div class="post-caption">
        <p>{{like}} People likes</p>
      </div>
    </div>
  </div>
</div>


<div class="my-1 col-12 col-md-4">
<div class="post-card bg-white">
<form class="my-3 px-3"  method="post" action="{% url 'comment' %}">
{% csrf_token %}
<input type="hidden" name="pid" value="{{art.id}}"/>
<textarea name="bod" class="form-control" placeholder="Write a comment" row="3"></textarea>

<button type="submit"  class="btn btn-dark w-100 my-1"><i class="fa-regular fa-comment"></i> Post</button>

</form>


<br>
<div class="comments">
{% for c in com %}
<div class="mt-2 mx-2 card-body img-thumbnail d-flex">
<img class="avatarc" src="https://api.dicebear.com/7.x/bottts/svg?seed={{c.name}}" />
<p class="mx-1 my-auto">{{c.comm}}</p>
</div>
{% endfor %}
</div>


</div>
</div>


    </div>
</div>
{% endblock %}
